{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": 0,
    "strict": 0
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "extends": ["airbnb", "eslint:recommended"],
}
